body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    background-image: url("https://pixabay.com/static/uploads/photo/2014/01/23/21/33/blue-250770_640.jpg");
    background-color: #61dafb;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form{
  display: flex;
  padding :20px
}
.g{
  background-color:aqua;
}
.upline{
  padding-left: 20px;
 
}
.browse{
  display: flex;
  flex-direction: column;
  margin: 2px;
  margin-top: 0px;
}
.abstract{
  margin :2px;
}
.btn-add{
   margin-top: 6px;
   margin-left: 925px;
   margin-bottom: 10px;
   padding: 7px;
   padding-left: 8px;
}
.QuesTitle{
  height: 4px;
  
}